.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.password-display{
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 3.5rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    



}




  
